/* Global Selector goes here */
@font-face {
    font-family: 'Space mono';
    src: url('https://fonts.gstatic.com/s/spacemono/v10/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2') format('woff2');
}

@font-face {
    font-family: 'Righteous';
    src: url('https://fonts.gstatic.com/s/righteous/v9/1cXxaUPXBpj2rGoU7C9WiHGF.woff2') format('woff2');
}

/* Header */

header {
    font-family: 'Space mono', courier;
    background-color: rgb(150, 149, 148);
    min-height: 30px;
}

h1, nav {
    font-weight: bold;
}

/* Navigation */

nav {
    color: hsl(51, 58%, 62%);
    min-width: 15%;
    float: right;
    margin: 15px;
}

nav li {
    font-size: 11px;
    list-style-type: none;
    margin: 10px;
    display: inline-block;
}

/* Title */

#web-title {
    font-family: 'Righteous';
    font-size: 16px;
    padding: 10px;
}