/* Global Selector goes here */
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Space mono';
    src: url('https://fonts.gstatic.com/s/spacemono/v10/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2') format('woff2');
}

@font-face {
    font-family: 'Righteous';
    src: url('https://fonts.gstatic.com/s/righteous/v9/1cXxaUPXBpj2rGoU7C9WiHGF.woff2') format('woff2');
}

/* Header */
h1 {
    background-color: aliceblue;
    border-bottom: 2px solid black;
    display: block;
    font-family: 'Righteous';
    font-size: 40px;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Main */

main {
    display: block;
    height: 700px;
    overflow: scroll;
    position: relative;
    top: 70px;
}
section {
    margin-top: 20px;
    font-family: 'Space mono';
}
/* Main Table */

section h2 {
    padding-bottom: 20px;
    text-align: center;
    opacity: 0.75;
}
/* table */
table {
    border: 1px solid black;
    border-radius: 10%;
    padding: 20px;
    margin: 0 auto;
}

th, td {
    padding: 5px;
}

td {
    border-bottom: 1px dotted black;
}

td span {
    color: white;
    background-color: black;
}


/* footer */
footer {
    position: relative;
    width: 100%;
    height: 10px;;
    top: 70px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}  
footer p {
    font-size: 7px;
    margin: 5px;
    font-family: 'Righteous'
}
/* footer */



